body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #EBD494;
    color: #333;
  }
  
  .header {
    background-color: #83C9F4;
    text-align: center;
    padding: 20px 0;
  }
  
  .header h1 {
    margin: 0;
    font-size: 3em;
  }
  
  .header p {
    margin: 0;
    font-size: 1.2em;
  }
  
  .about {
    background-color: #407076;
    color: #FCFAF9;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    text-align: center;
  }
  
  .about h2 {
    margin-top: 0;
    font-size: 2em;
  }
  
  .about p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .projects {
    text-align: center;
    margin: 20px 0;
  }
  
  .projects h2 {
    background-color: #FFB7C3;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2em;
  }
  
  .project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .project-item {
    background-color: #407076;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    text-align: center;
  }
  
  .project-item img {
    width: 100%;
    border-radius: 10px;
    }